<!DOCTYPE html>

<html>
<head>
    <title>isString Unit Tests</title>
</head>

<body>
<script src="sauce-storage:json3.min.js"></script>
<script>
isString = (function() {
    var objToString     = ({}).toString,
        strToString     = ('').toString,
        hasBind         = Function.prototype && Function.prototype.bind,
        objToStrCall    = hasBind && objToString.call.bind(objToString),
        strToStrCall    = hasBind && strToString.call.bind(strToString),
        hasToStringTag  = typeof Symbol === 'function' && typeof Symbol.toStringTag === 'symbol',
        isString        = function(str) {
        /*@cc_on
          @if (@_jscript_version >= 5) @*/
            try {
                hasBind ? strToStrCall(str) : strToString.call(str);
                return true;
            } catch (e) {
                return false;
            }
          /*@end
        @*/
        };

    return function(str) {
        return  typeof str === 'string' ||
                (str && typeof str === 'object' &&
                /*@cc_on
                    @if (@_jscript_version < 5.5)
                        /^\s*function\s*String\(\)\s*{\s*\[native code\]\s*}\s*$/.test(str.constructor)
                    @else @*/
                        hasToStringTag ? isString(str) : ((objToStrCall && objToStrCall(str)) || objToString.call(str)) === '[object String]'
                    /*@end
                @*/
                ) || false;
    };
})();

var hasBind         = Function.prototype && Function.prototype.bind,
    hasToStringTag  = typeof Symbol === 'function' && typeof Symbol.toStringTag === 'symbol',
    phony           = function() {},
    i               = 0;

global_test_results = {
  "passed": 0,
  "failed": 0,
  "total": 0,
  "duration": 0,
  "tests": []
};

global_test_results.tests[i] = {
      "name": "null",
      "result": !isString(null),
      "message": 'null is not a string',
      "duration": 10
};
global_test_results.tests[i].result ? global_test_results.passed++ : global_test_results.failed++;
global_test_results.total++;
global_test_results.duration += global_test_results.tests[i++].duration;

/*@cc_on @if (@_jscript_version >= 5.5) @*/

phony.prototype  = String.prototype;

global_test_results.tests[i] = {
      "name": "prototype",
      "result": !isString(new phony()),
      "message": 'phony String object is not a string',
      "duration": 10
};
global_test_results.tests[i].result ? global_test_results.passed++ : global_test_results.failed++;
global_test_results.total++;
global_test_results.duration += global_test_results.tests[i++].duration;

if (hasBind) {
    Function.prototype.call = function() { return '[object String]'; };

    global_test_results.tests[i] = {
          "name": "Function.prototype.call",
          "result": !isString(undefined),
          "message": 'vulnerable to Function.prototype.call mangling',
          "duration": 10
    };
    global_test_results.tests[i].result ? global_test_results.passed++ : global_test_results.failed++;
    global_test_results.total++;
    global_test_results.duration += global_test_results.tests[i++].duration;
}

/*@end @*/

if (console && console.dir)
    console.dir(global_test_results);

</script>

</body>
</html>
